<a href="https://colab.research.google.com/github/shreya-bhonagiri/python-assignment-2/blob/master/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:
#1Q:program for given data scenario
year = int(input("enter the year to know the animal:"))
if year % 12==0 :
   print("monkey")
elif year % 12==1 :
     print("rooster")
elif year % 12==2 :
     print("dog")
elif year % 12==3 :
     print("pig")
elif year % 12==4 :
     print("rat")
elif year % 12==5 :
     print("ox")
elif year % 12==6 :
     print("tiger")
elif year % 12==7 :
     print("rabbit")
elif year % 12==8 :
     print("dragon")
elif year % 12==9 :
     print("snake")
elif year % 12==10 :
     print("horse")
else :
     print("sheep")

enter the year to know the animal:8
dragon

In [17]:
#2Q:Quick transportation of goods as per given rates to be caluclated...
dis = int(input("Distance to be travel:"))
wgt = int(input("weight of the goods:"))
if dis>=500 :
   if wgt>=100 :
      print("Amount to be charged:",5*dis)
   elif 100>wgt>=10 :
      print("Amount to be charged: ",6*dis)
   else :
      print("Amount to be charged: ",7*dis)
else :
    if wgt>=100 :
      print("Amount to be charged: ",8*dis)
    else :
      print("Amount to be charged: ",5*dis)

Distance to be travel:520
weight of the goods:50
Amount to be charged:  3120

In [70]:
#3Q:Entertainment paradise
num=int(input("Number of tickets:"))
typ=input("Type of seat:").upper()
pay=input("Payment mode (cash/credit):").upper()
if typ=="STALL" :
    s=625
elif typ=="CIRCLE" :
    s=750
elif typ=="UPPER CLASS" :
    s=850
elif typ=="BOX" :
    s=1000
else :
   print("type is not mentioned above....")
if pay=="CASH" :
    amt=num*(s-(s*10//100))
elif pay=="CREDIT" :
     amt=num*(s-(s*5//100))
else :
    print("PAYMENT MODE NOT ACCEPTED.....")
print("Total cost of tickets: ",amt)

Number of tickets:1
Type of seat:box
Payment mode (cash/credit):cash
Total cost of tickets:  900

In [32]:
#4Q:Energy required to heat the water temperature.....
intial=int(input("Enter the INITIAL temperature of water: "))
final=int(input("Enter the FINAL temperature of water: "))
M=int(input("Enter Mass of the water in kgms: "))
Q=M*(final-intial)*4184
print("Energy required to heat the water: ",Q)

Enter the INITIAL temperature of water: 15
Enter the FINAL temperature of water: 45
Enter Mass of the water in kgms: 35
Energy required to heat the water:  4393200

In [72]:
#5Q:Seasons with month.....
month=input("Enter the month: ").upper()
if month=="JANUARY" or month=="FEBRUARY" or month=="DECEMBER" :
  print("Season is WINTER")
elif month=="MARCH" or month=="APRIL" or month=="MAY" :
  print("Season is SPRING")
elif month=="JUNE" or month=="JULY" or month=="AUGUST" :
  print("Season is SUMMER")
elif month=="SEPEMBER" or month=="OCTOBER" or month=="NOVEMBER" :
  print("Season is AUTUMN")
else :
  print("plz..type th month....")

Enter the month: july
Season is SUMMER

In [76]:
#6Q:Body Mass Index.......
wgt=int(input("enter the weight of the person in pounds: "))    #weight is recorded in pounds....
ht=int(input("enter th height of th person in inches: "))       #height is recorded in inches....
wgt_kgms=float(wgt*0.45359273)     #weight in pounds must be converted to kilograms to caluclate BMI......
ht_mt=float(ht*0.0254)             #height in inches must be converted to meters to caluclate BMI.....
bmi=(wgt_kgms/ht_mt*ht_mt**2)
if bmi<18.5 :
  print("person is 'UNDER WEIGHT'")
elif 18.5<=bmi<25.0 :
  print("person is 'NORMAL'")
elif 25.0<=bmi<30.0 :
  print("person is 'OVER WEIGHT'")
else :
  print("person is 'OBESE'")

enter the weight of the person in pounds: 35
enter th height of th person in inches: 48
person is 'NORMAL'

In [79]:
#7Q:Adding the sum of the digits.....
num=input("enter the number from 100 to 1000: ")
sum=0
for i in num :
  sum = sum + int(i)
print(sum)

enter the number from 100 to 1000: 456
15

In [52]:
#8Q:Palindrome numbers in given range....
for n in range(1,1001):
  sum=0
  t=n
  while n>0:
    z=n%10                  #gives the last digit of the given number....
    n=int(n/10)             #gives the remaining digits of the given number....
    sum = sum * 10 + z      #gives the last singel digit of the number and by repeating we get the reverse of number......
  if t==sum :
    print(t)

1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494
505
515
525
535
545
555
565
575
585
595
606
616
626
636
646
656
666
676
686
696
707
717
727
737
747
757
767
777
787
797
808
818
828
838
848
858
868
878
888
898
909
919
929
939
949
959
969
979
989
999

In [81]:
#9Q:Armstrong number in between the given range....
for s in range(1,1001):
  sum=0
  c=s
  xyz = len(str(s))
  while s>0:
    z=s%10
    sum = sum + z**xyz
    s=int(s/10)
  if c==sum :
    print(c)

1
2
3
4
5
6
7
8
9
153
370
371
407

In [92]:
#10Q:FIZZBUZZ......
num=int(input("enter the number between 1 to 100: "))
if num%3==0 and num%5==0 :
  print("fizz buzz")
elif num%3==0 :
  print("fizz")
elif num%5==0 :
  print("buzz")
else :
  print("the number is neither multiple of 3 nor 5")

enter the number between 1 to 100: 15
fizz buzz

In [96]:
#11Q:Spider problem....
H = int(input("Enter the height of the well: "))
U = int(input("Enter the meters climbed up by the spider: "))
D = int(input("Enter the meter slipped down by the spider: "))
S=((H-U)+(U-D))//(U-D)
print(S+1)

Enter the height of the well: 200
Enter the meters climbed up by the spider: 50
Enter the meter slipped down by the spider: 1
5